<nav class="navbar navbar-expand-lg navbar-light bg-dark">
	<div class="container-fluid">
		<a class="navbar-brand text-white text-center w-100" href="#">My Awesome Business</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
			aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
</nav>
<ul class="nav nav-tabs justify-content-evenly my-2 mb-5">
	<li class="nav-item">
		<a class="nav-link" aria-current="page" routerLink="/products">Products</a>
	</li>
	<li class="nav-item">
		<a class="nav-link " routerLink="/orders">Orders</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" routerLink="/vendor">Business Profile</a>
	</li>

</ul>
